body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h2,h3{
    margin: 10px 0;
    text-align: center;
    text-shadow: black 0px 2px 2px;
}
.container{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    /* background-color: #474F42; */
    background-image: url('img/texture-1.jpg');
}
.sheet-container{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
    padding-top: 0;
}
.pages-container ul{
    margin: 0;
    list-style: none;
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 0;
}
.pages-container ul li{
    flex-grow: 1;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.432);
    box-shadow: .5px .5px 2px black;
    border-top: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 5px;
    cursor: pointer;

}
.pages-container ul li:hover{
    background-color: rgba(0, 0, 0, 0.726);
}
.description-container form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
/*     height: 120px; */
}
.description-container form div{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.description-container form div input[type=text]{
    width: 60%;
}
.attributes-container form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.attributes-container form div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    width: 100px;
    flex-grow: 1;
    box-sizing: border-box;
}
.attributes-container form div input{
    max-width: 90%;
    box-sizing: border-box;
}
.parameters-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.parameters-container form{
    width: 45%;
    min-width: 235px;
}
.parameters-container .energias-container, .parameters-container .defesas-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.parameters-container .energias-container div, .parameters-container .defesas-container div{
    flex-grow: 1;
    justify-content: space-between;
    display: flex;
}
.parameters-container .energias-container{
    height: 70%;
    display: flex;
    align-items: center;
}
.parameters-container .energias-container .energias-card{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.parameters-container .energias-container .energias-card .values{
    display: flex;
    justify-content: end;
    gap: 5px;
}
.parameters-container .energias-container .energias-card .values input{
    width: 45%;
    max-width: 100px;

}
.pericia-container{
    width: 100%;
}
.pericia-container form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-height: 250px;
    gap: 5px;
}
.pericia-container form .pericia-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    border-bottom: 1px solid black;
}
.pericia-container form .pericia-data .number-roll-area{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2px;
    box-sizing: border-box;
    padding: 0;
}
.pericia-container form .pericia-data .number-roll-area input{
    width: 45px;
}
section{
    background-color: rgba(0, 0, 0, 0.295);
    border: 1px solid black;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px 0;
}
input[type=number], input[type=text]{
    background-color: #515C4C;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
}
input[type=number]{
    max-height: 20px;
    box-sizing: border-box;
}
@media screen and (max-width: 600px){
    body{
        margin: 0;
    }
    .pages-container{
        position: fixed;
        top: 0;
    }
    .pages-container ul li{
        background-color: #394136;
    }
    .pages-container ul li:hover{
        background-color: #232721;
    }
    .container{
        width: 100%;
        padding-top: 40px;
    }
    .parameters-container form{
        width: 100%;
    }
    .parameters-container .energias-card{
        width: 100%;
    }
    .parameters-container .defesas-container div{
        width: 100%;
    }
    .pericia-container form{
        max-height: none;
    }
    .pericia-container form .pericia-data{
        width: 100%;
    }
    .pericia-container form .pericia-data .number-roll-area{
        max-width: 100px;
        box-sizing: border-box;
    }
    .pericia-container form .pericia-data .number-roll-area input{
        width: 50%;
    }
}

/* teste */
/* .sheet-container{
    padding: 0 80px;
}
section{
    background-color: #DAD28E;
    color: black;
}
section::before{
    position: absolute;
    content: '';
    background-color: red;
    width: 50px;
    height: 80px;
    transform: translateX(-110%);
} */